<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.mapper.EmployeeMapper">

    <resultMap id="EmployeeResultMap" type="Employee">
        <id property="id" column="id"/>
        <result property="lastName" column="lastname"/>
        <result property="email" column="email"/>
        <result property="gander" column="gander"/>
        <result property="department.id" column="departmentId"/>
        <result property="department.departmentName" column="departmentName"/>
        <result property="birth" column="birth"/>
    </resultMap>

    <select id="getAll" resultMap="EmployeeResultMap">
        SELECT * FROM employee,department WHERE employee.departmentId=department.id
    </select>

    <insert id="save" parameterType="Employee">
        INSERT INTO employee (lastname,email,gender,departmentId,birth) values ( #{lastName},#{email},#{gender},#{department.id},#{birth})
    </insert>

    <select id="getEmployeeById" parameterType="int" resultMap="EmployeeResultMap">
        SELECT * FROM employee WHERE id=#{id}
    </select>

    <update id="update" parameterType="Employee">
        UPDATE employee
        <set>
            <if test="lastName != null">
                lastname = #{lastName},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="department.id != null">
                departmentId = #{department.id},
            </if>
            <if test="birth != null">
                birth = #{birth},
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>


    <delete id="delete" parameterType="int">
        DELETE FROM employee WHERE id=#{id}
    </delete>






</mapper>