<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
    configuration 配置
	   properties 属性
	   settings 设置
	   typeAliases 类型别名
	   typeHandlers 类型处理器
	   objectFactory 对象工厂
	   plugins 插件
	   environments 环境
		   environment 环境变量
			   transactionManager 事务管理器
			   dataSource 数据源
	   databaseIdProvider 数据库厂商标识
	   mappers 映射器

        mybatis的配置文件各个字段是有顺序的，比如settings和typeAliases交换了位置就会报错。
    -->

    <!--启用日志-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--配置数据源，交给spring去做-->
    <typeAliases>
        <package name="com.kuang.pojo"/>
    </typeAliases>

    <mappers>
        <mapper class="com.kuang.dao.BookMapper"/>
<!--        <mapper resource="com/kuang/dao/BookMapper.xml"/>-->
    </mappers>

</configuration>