<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="user" class="com.hou.pojo.User">-->
        <!--<constructor-arg index="0" value="hou"/>-->
    <!--</bean>-->

    <!--<bean id="user" class="com.hou.pojo.User">-->
        <!--<constructor-arg type="java.lang.String" value="dong"/>-->
    <!--</bean>-->

    <!--直接通过参数名-->
    <bean id="user" class="com.hou.pojo.User">
        <constructor-arg name="name" value="hou"></constructor-arg>
    </bean>

    <bean id="usert" class="com.hou.pojo.UsetT" name="u1,u2" >
        <property name="name" value="kun"/>
    </bean>

    <alias name="user" alias="user2aaa"/>


</beans>